<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Ne rien faire pour les fichiers physiques réels
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Rediriger vers public/ si on n'y est pas déjà
    RewriteCond %{REQUEST_URI} !/public/
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>
